<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App Node</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <main class="main-grid">
      <div class="chat-container">
        <ul id="messages"></ul>
        <form action="" id="form">
          <div class="message-container">
            <input type="text" id="message" autocomplete="off" />
            <button id="send-btn">Send</button>
          </div>
        </form>
      </div>
    </main>
    <!-- <a href="./index.html">Home</a> -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        console.log("loaded");
        let socket = io();
        const form = document.querySelector("#form");
        const message = document.querySelector("#message");
        const messages = document.querySelector("#messages");

        form.addEventListener("submit", (e) => {
          console.log("e fired", e);
          //   console.log('messages.')
          e.preventDefault();
          socket.emit("chat message", message.value);
          message.value = "";
          return false;
        });
        socket.on("chat message", (msg) => {
          let listItem = document.createElement("li");
          listItem.textContent = msg;
          messages.append(listItem);
        });
      });
    </script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
  </body>
</html>
